<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Buat Data Siswa</h1>
    <form action="/siswas/create" method="POST">
        <label>Nama</label>
        <input type="text" name="nama" />
        <label>Alamat</label>
        <input type="text" name="alamat" />
        <label>Kelas</label>
        <select name="kelas">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
